html,body {
    height:100%;
    padding:0;
    margin:0;
}

div#map{
  height: calc(100% - 49px);
}

.header{
  padding-top: 5px;
}

.container{
  overflow:hidden;
}

.container form {
  margin-bottom:5px;
}

.header .form-inline{
  margin-bottom:5px;
}